@{
    ViewData["Title"] = "Home Page";
}

<<div class="IndexDiv">
    <p><h1 class="text-center font-weight-bolder">Employee Task Management System</h1></p>
    <hr />
    <div class="row m-2 ">

        <div class="col-6">
            <p><h5>Easiest and Effective way to Maintain Employee</h5></p>
        </div>
        <div class="col-6">
            <img src="~/images/download.png" class="img-fluid" style="height: 400px;" />
        </div>
    </div>
</div>
