@model EmployeeTaskManagement.Models.EmployeeInfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string menuTextColor = "text-white";
}
<div class="IndexDiv">
    <div class="row justify-content-center mt-4 mb-2">
        <div class="col-md-5">
            <form asp-action="Create" class="form-signin create-form bg-white rounded border shadow-sm p-4">

                <div class="text-center  bg-primary @menuTextColor">
                    <h4 class=" mt-4 mb-4 p-2">EmployeeInfo</h4>
                </div>
                @* <div class="text-center mb-4">
                <h1 class="h5 mb-3 font-weight-bold">Department</h1>
                </div>*@

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmployeeName" class="control-label"></label>
                    <input required="required" asp-for="EmployeeName" type="text" class="form-control" />
                    <span asp-validation-for="EmployeeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeeCode" class="control-label"></label>
                    <input required="required" asp-for="EmployeeCode" type="number" class="form-control" />
                    <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JoiningDate" class="control-label"></label>
                    <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" asp-for="JoiningDate" class="form-control" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
               
               <div class="form-group">
                    <label class="control-label">Department Name</label><br />
                    @Html.DropDownList("DepartmentId", new SelectList(ViewBag.DepartmentList, "Id","Name"), "Select Department", new { @class = "form-control", @required = "required" })
                </div>
                <div class="form-group">
                    <label class="control-label">Designation Name</label><br />
                    @Html.DropDownList("DesignationId", new SelectList(ViewBag.designationList, "Id","Name"), "Select Designation", new { @class = "form-control", @required = "required" })
                </div>
               
                <div class="form-group mt-4 text-center">
                    <a class="btn btn-success" asp-action="Index">List</a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
