@model EmployeeTaskManagement.Models.TaskAssign

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string menuTextColor = "text-white";
}
<div class="IndexDiv">
    <div class="row justify-content-center mt-4 mb-2">
        <div class="col-md-5">
            <form asp-action="Create" class="form-signin create-form bg-white rounded border shadow-sm p-4">

                <div class="text-center  bg-primary @menuTextColor">
                    <h4 class=" mt-4 mb-4 p-2">Assign task for Employee</h4>
                </div>
                <div class="form-group">
                    <label class="control-label">Employee Name</label><br />
                    @Html.DropDownList("EmployeeId", new SelectList(ViewBag.EmployeeList, "Id","EmployeeName"), "Select Employee", new { @class = "form-control", @required = "required" })
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input required="required" asp-for="ProjectName" type="text" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleName" class="control-label"></label>
                    <input required="required" asp-for="ModuleName" type="text" class="form-control" />
                    <span asp-validation-for="ModuleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkName" class="control-label"></label>
                    <input type="text"  required="required" asp-for="WorkName" class="form-control" />
                    <span asp-validation-for="WorkName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" asp-for="StartDate" class="form-control" id="approveDateRequired" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" asp-for="EndDate" class="form-control" id="approveDateRequired" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 text-center">
                    <a class="btn btn-success" asp-action="Index">List</a>
                    <input type="submit" name="btnValue" id="submitBtn" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $(document).ready(function () {
                $("#Allowance").css("display", "block");
                var id = $("#id").val();
                if (id != 0) {
                    $("#submitBtn").val("Update");
                    $("#AppUserId").prop("disabled", true);
                }
            });
        });
        function AprroveDateShow() {
            var checkBox = document.getElementById("isFixed");
            var approveDateField = document.getElementById("approveDateField");
            var approveDateRequired = document.getElementById("approveDateRequired");
            if (checkBox.checked == true) {
                approveDateField.style.display = "block";
                approveDateRequired.setAttribute('required', '');
            } else {
                approveDateField.style.display = "none";
                approveDateRequired.removeAttribute('required');
            }
        }
    </script>
}
